asgiref==3.7.2
Django==4.2.6
django-cors-headers==4.3.0
django-extensions==3.2.3
django-import==0.0.7
django-jazzmin==2.6.0
django-jsoneditor==0.2.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
et-xmlfile==1.1.0
export==0.2.1
inflection==0.5.1
Markdown==3.5.1
numpy==1.26.1
openpyxl==3.1.2
packaging==23.2
pandas==2.1.2
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
xlrd==2.0.1
